# =========================
# Environnements virtuels
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# =========================
# Données
# =========================
data/
datasets/
*.pt
*.pth
*.ckpt

# =========================
# Logs / outputs
# =========================
logs/
runs/
checkpoints/
outputs/
images/*.png

# =========================
# Jupyter / Colab
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.log
*.csv
