# =========================
# Environnements virtuels
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# =========================
# Données / modèles
# =========================
data/
datasets/
*.pt
*.pth
*.ckpt

# =========================
# Logs / outputs / tracking
# =========================
logs/
runs/
checkpoints/
outputs/
artifacts/
mlruns/
.hydra/
wandb/

# =========================
# DB (MLflow sqlite etc.)
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Jupyter / Colab
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.log